<h1>米粉蒸しパンkanekiが大切にしていること</h1>
<p>皆さん、おやつの時間が好きですか？

kanekiのお菓子は、小麦粉・牛乳・バターの代わりに、国産米粉・無調整豆乳・米油を、上白糖の代わりにキビ糖や甜菜糖を使用し、身体にやさしい、いつまでも食べたいホッとするおやつを目指しております。
（※完全なグルテンフルーではありません）

甘すぎるお菓子は苦手だけど、甘いものが食べたい方へ。
身体にやさしい原材料のものをお探しの方へ。
濃厚な甘さはありませんが、素材本来のほのかな甘みをお楽しみくださいね。

皆様のひとときを、ホッと癒せるような存在になれたら幸せです。

好きなお飲み物をいれて、ホッと一息のティータイムに、是非ご賞味くださいませ。

毎週、金曜・土曜の限定営業です！

今週のメニューは、水曜日辺りに、ブログとインスタグラムでご案内いたします。
（お取り置きも可能です♬）</p>
